extends _layout/layout

block variables
  - var title = 'K-Animation'
  - var bodyclass = 'index'

block css

block body 
  p.click Click
  p.hover Hover
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  p d
  .auto Auto 
  .scroll Scroll
  script.
    $(function() {
      $(".scroll").kAnimation({
        ClassName: 'animated',
        Animation: [
          'fadeInUp',
          'fadeOutUp',
        ],
        //- Animation: 'fadeInUp',
        Delay: 3000,
        ScrollLoop: true,
        Type: 'Scroll' // auto, scroll, click, hover
      });

      $('.auto').kAnimation({
        ClassName: 'animated',
        Animation: 'fadeInUp'
      });

      $('.click').kAnimation({
        ClassName: 'animated',
        Animation: 'fadeInUp',
        Delay: 3000,
        ScrollLoop: true,
        Type: 'Click'
      });

      $('.hover').kAnimation({
        ClassName: 'animated',
        Animation: 'fadeInUp',
        Type: 'Hover'
      });
    });