extends _layout/layout

block variables
  - var title = 'K-Animation'
  - var bodyclass = 'index'

block css
  link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css")

block body 
  .container
    h1.display-4(style="margin:2rem 0;") K-Animation 
    hr 

    h3(style="margin:2rem 0;") Via Auto 
    .jumbotron
      p.auto Auto Animation 
    .row.marketing
      .col-lg-12
        h4 JS
        pre.prettyprint.lang-js.
          $(document).ready(function() {
            $('.auto').kAnimation({
              ClassName: 'animated fadeInUp',
              Animation: [
                'fadeIn',
                'fadeOutUp',
              ],
              Delay: 1000,
              Forever: true,
              DelayForever: 3000
            });
          });

    h3(style="margin:2rem 0;") Via Click 
    .jumbotron
      p.click Click to Animation 
    .row.marketing
      .col-lg-12
        h4 JS
        pre.prettyprint.lang-js.
          $(document).ready(function() {
            $('.click').kAnimation({
              ClassName: 'animated',
              Animation: 'fadeInUp',
              Type: 'Click',
              Forever: true,
              DelayForever: 100
            });
          });
    h3(style="margin:2rem 0;") Via Hover 
    .jumbotron
      p.hover Hover to Animation 
    .row.marketing
      .col-lg-12
        h4 JS
        pre.prettyprint.lang-js.
          $(document).ready(function() {
            $('.hover').kAnimation({
              ClassName: 'animated',
              Animation: 'fadeInUp',
              Type: 'Hover',
              Forever: true,
              DelayForever: 100
            });
          });
 
    h3(style="margin:2rem 0;") Via Scroll 
    .jumbotron
      p.scroll Scroll to Animation 
    .row.marketing
      .col-lg-12
        h4 JS
        pre.prettyprint.lang-js.
          $(document).ready(function() {
            $(".scroll").kAnimation({
              ClassName: 'animated',
              Animation: 'fadeInUp',
              Delay: 2000,
              ScrollLoop: true,
              Type: 'Scroll'
            });
          });
    h1(style="margin:2rem 0;") HTML Attrs 
    h3(style="margin:2rem 0;") Via Auto
    .jumbotron
      p(k-Animation='animated fadeInUp', k-Class="fadeIn, fadeOutUp", k-Delay="1000", k-Forever="true", k-DelayForever="3000", k-Type="Auto") Auto Animation 
    .row.marketing
      .col-lg-12
        h4 HTML
        pre.prettyprint.lang-html.
          (k-Animation='animated fadeInUp', k-Class="fadeIn, fadeOutUp", k-Delay="1000", k-Forever="true", k-DelayForever="3000", k-Type="Auto")
        h4 JS
        pre.prettyprint.lang-js.
          $('[k-Animation]').kAnimation();
  block js 
    script(src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js')
  script.
    $(function() {
      $(".scroll").kAnimation({
        ClassName: 'animated',
        Animation: 'fadeInUp',
        Delay: 1000,
        ScrollLoop: true,
        Type: 'Scroll'
      });

      $('.auto').kAnimation({
        ClassName: 'animated fadeInUp',
        Animation: [
          'fadeIn',
          'fadeOutUp',
        ],
        Delay: 1000,
        Forever: true,
        DelayForever: 3000
      });

      $('[k-Animation]').kAnimation();

      $('.click').kAnimation({
        ClassName: 'animated',
        Animation: 'fadeInUp',
        Type: 'Click',
        Forever: true,
        DelayForever: 100
      });

      $('.hover').kAnimation({
        ClassName: 'animated',
        Animation: 'fadeInUp',
        Type: 'Hover',
        Forever: true,
        DelayForever: 100
      });
    });